* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

table {
  width: 100%;
  border: 1px solid #dddddd;
}

th {
  font-weight: 500;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.site-title-wraper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  background-color: #424242;
}

.site-title {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-title h1 {
  color: #e0e0e0;
  font-size: 24px;
  font-weight: 500;
}

.site-title p {
  color: #e0e0e0;
  font-size: 18px;
  font-weight: 500;
}

.new-title {
  margin: 5px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #e0e0e0;
}

.new-p {
  margin: 5px;
  font-size: 16px;
  color: #000;
}

.main-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.new-cont-one,
.new-cont-two,
.new-cont-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}

.new-one,
.new-two,
.new-three,
.new-four,
.new-five,
.new-six,
.new-seven,
.new-eight {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  width: auto;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

.money-section {
  display: flex;
  width: 90%;
}

.ads-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.ads-inner {
  width: 40%;
  margin: 10px 10px;
}

.ads-inner img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

@media (min-width: 729px) {
  .ads-container {
    width: 100%;
  }

  .ads-inner img {
    width: 100%;
    margin: 0px;
  }
}

@media (min-width: 900px) {
  main {
    display: flex;
    flex-direction: row;
  }

  .main-cont {
    flex: 6;
    border-right: 2px solid #e0e0e0;
  }

  .ads-container {
    flex-direction: column;
    justify-content: center;
    justify-items: baseline;
    flex: 1;
  }

  .ads-inner {
    width: 90%;
  }

  .ads-c-one {
    display: none;
  }

  .new-cont-one {
    flex-direction: row;
  }

  .new-one {
    flex: 2;
  }

  .new-two {
    flex: 1;
  }

  .new-three {
    flex: 1;
  }

  .new-cont-two {
    flex-direction: row;
  }

  .new-cont-two .new-four,
  .new-cont-two .new-six {
    flex: 1;
  }

  .new-cont-two .new-five {
    flex: 1;
  }

  .new-cont-three {
    flex-direction: row;
  }

  .new-cont-three .new-seven,
  .new-cont-three .new-eight {
    flex: 1;
  }
}
