* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#welcome {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #424242;
}

#error-name,
#error-email,
#error-password,
#error-rep-password,
#error-age,
#error-phone,
#error-addres,
#error-city,
#error-postal,
#error-id,
.error-invisible {
  color: red;
  margin-top: 10px;
  visibility: hidden;
}

.titles {
  display: flex;
  flex-direction: column;
}

.registration {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 140px;
}

.registration-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #424242;
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  border-radius: 1%;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

.registration-form div {
  display: flex;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  width: 85%;
  margin: 20px 30px;
  text-align: center;
}

.registration-form label {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #424242;
  text-align: center;
}

.registration-form input {
  font-size: 16px;
  font-weight: 500;
  padding-top: 15px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid #424242;
}

.registration-form input:focus {
  outline: none;
}

.btn-submit {
  width: 90px !important;
  text-align: center;
  margin: 20px 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px !important;
  border: none !important;
  border-radius: 10%;
  background-color: #424242;
  color: #e8e8e8;
}

.btn-submit:hover {
  color: #e8e8e8;
  background-color: #000;
}

@media (min-width: 900px) {
  #welcome {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #424242;
  }

  .registration-form {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .registration-form div {
    width: 44%;
    margin-top: 40px;
  }

  .registration-form label {
    text-align: left;
  }

  .registration-form input {
    width: 95%;
  }

  .btn-submit {
    width: 90px !important;
    text-align: center;
    margin: 20px 30px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px !important;
    border: none !important;
    border-radius: 10%;
  }
}
